.ir {
    display: block;
    background-size: 100%;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
}

h1 {
    background: url(../assets/BlackJack.svg);
    background-repeat: no-repeat;
    width: 10rem;
    padding: 6rem;
    padding-bottom: 2rem;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    background-size: 30rem;
}
.B2{
    background: url(../assets/2B.svg); 
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.HA{
    background: url(../assets/HA.svg); 
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.H2{
    background: url(../assets/H2.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.H3{
    background: url(../assets/H3.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.H4{
    background: url(../assets/H4.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.H5{
    background: url(../assets/H5.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.H6{
    background: url(../assets/H6.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.H7{
    background: url(../assets/H7.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.H8{
    background: url(../assets/H8.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.H9{
    background: url(../assets/H9.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.HT{
    background: url(../assets/HT.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.HB{
    background: url(../assets/HB.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.HD{
    background: url(../assets/HD.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.HH{
    background: url(../assets/HH.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.KA{
    background: url(../assets/HA.svg); 
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.K2{
    background: url(../assets/H2.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.K3{
    background: url(../assets/H3.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.K4{
    background: url(../assets/H4.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.K5{
    background: url(../assets/H5.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.K6{
    background: url(../assets/H6.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.K7{
    background: url(../assets/H7.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.K8{
    background: url(../assets/H8.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.K9{
    background: url(../assets/H9.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.KT{
    background: url(../assets/HT.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.KB{
    background: url(../assets/HB.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.KD{
    background: url(../assets/HD.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.KH{
    background: url(../assets/HH.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.RA{
    background: url(../assets/HA.svg); 
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.R2{
    background: url(../assets/H2.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.R3{
    background: url(../assets/H3.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.R4{
    background: url(../assets/H4.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.R5{
    background: url(../assets/H5.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.R6{
    background: url(../assets/H6.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.R7{
    background: url(../assets/H7.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.R8{
    background: url(../assets/H8.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.R9{
    background: url(../assets/H9.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.RT{
    background: url(../assets/HT.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.RB{
    background: url(../assets/HB.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.RD{
    background: url(../assets/HD.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.RH{
    background: url(../assets/HH.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.SA{
    background: url(../assets/HA.svg); 
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.S2{
    background: url(../assets/H2.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.S3{
    background: url(../assets/H3.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.S4{
    background: url(../assets/H4.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.S5{
    background: url(../assets/H5.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.S6{
    background: url(../assets/H6.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.S7{
    background: url(../assets/H7.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.S8{
    background: url(../assets/H8.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.S9{
    background: url(../assets/H9.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.ST{
    background: url(../assets/HT.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.SB{
    background: url(../assets/HB.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.SD{
    background: url(../assets/HD.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}
.SH{
    background: url(../assets/HH.svg);
    background-repeat: no-repeat;
    padding: 5.6rem 4rem;
    background-size: 8rem;
}