body {
	background-color: #2B802E;
}
.PopUpButton {
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#ff0000;
	border:2px solid #7E0000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-weight:bold;
	text-decoration:none;
	-webkit-text-stroke: 1.3px #7E0000;
}
.ButtonPlay{
	border-radius:30%;
	padding: 14px 76px;
	font-size: 25px;
}
.info{
	border-radius: 50%;
	-webkit-text-stroke: 1px #7E0000;
	font-family: 'Lora', serif;
	font-style: oblique;
	font-weight: bold;
	font-size: 64px;
	margin-left: 10px;
	margin-top: 10px;
	height: 76px;
	width: 76px;
}
.ButtonPlay:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
.ButtonPlay:active {
	position:relative;
	top:1px;
}
.overlay{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #375C38;
	opacity: 0.9;
	z-index: 10;
}
.overlayStart{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 11;
}
#players{
	border: 2px solid #2B802E;
	width: 4vw;
	height: 4vw;
	-moz-appearance: textfield;
	margin-left: auto;
	margin-right: auto;
	font-size: 32px;
	text-align: center;
}
label{
	color: #ff0000;
	-webkit-text-stroke: 0.5px #7E0000;
}
.amountPlayers{
	display: flex;
	flex-direction: column;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	-webkit-appearance: none;
	margin: 0;
}