@import "common.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.modal-container {
    background-color: rgb(0, 0, 0, 0.3);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.modal-container.show{
    pointer-events: auto;
    opacity: 1;
}
.modal{
    background: none;
    background-color: var(--bg);
    border-radius: 5%;
    opacity: 1;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.2);
    padding: 20px 40px;
    width: 500px;
    max-width: 100%;
    
}
.modal h2 {
    text-align: center;
}